.app__navbar {
  background-color: var(--color-black);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.app__navbar-logo img {
  width: 150px;
}

.app__navbar-links {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 1.5rem;
}

.app__navbar-links li {
  margin: 0 1.5rem;
  cursor: pointer;
}
.app__navbar-login a {
  color: aliceblue;
  letter-spacing: 3px;
  margin: 5px;
}

.app__navbar-links li:hover,
.app__navbar-login a:hover {
  color: var(--color-golden);
  font-weight: bolder;
  transition: 0.5s ease;
}

@media screen and (max-width: 750px) {
  .app__navbar,
  .app__navbar-links {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .app__navbar-links,
  .app__navbar-login {
    display: none;
  }
}

.app__navbar-smallscreen_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;

  background-color: var(--color-black);
  /* background-color: linear-gradient(45deg, rgb(175, 39, 39) gold black); */
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transition: display 0.5s ease-in;
}

.overlay {
  position: absolute;
  top: 50px;
  right: 50px;
}

.app__navbar-smallscreen_overlay ul > li {
  list-style: none;
  margin-top: 10px;
  font-size: 1.5rem;
}

.app__navbar-smallscreen-links li:hover {
  color: var(--color-golden);
}
